.footer{
  &__main{
    display: flex;
    justify-content: space-evenly;
    min-height: 275px;
    box-sizing: border-box;
    padding-top:79px;
    @media only screen and (min-width: $smallWidth) and (max-width: $largeWidth){
      &{
       justify-content: space-between;
      }
    }
    @media only screen and (min-width: 0px) and (max-width: $smallWidth){
      &{
       flex-direction: column;
        align-items: center;
      }
    }
  }
  &__item {
    @media only screen and (min-width: 0px) and (max-width: $smallWidth){
      &{
        margin-bottom: 40px;
      }
    }
  }

  &__title{
    display: flex;
    align-items: flex-end;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
    align-self: flex-start;
    &_logo{
      & > img{
        position: absolute;
      }
      & > p {
        margin-left: 30px;
      }
    }
    & >title{
      position: absolute;
    }
    &:nth-child(2){
      margin-left: 30px;
    }
  }
  &__description{
    & > ul{
      &>li {
        list-style-type: none;
        text-decoration: none;
        font-family: 'Roboto',sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: rgba(255, 255, 255, 0.75);
        & > a {
          height: 100%;
          display: flex;
          text-decoration: none;
          font-family: 'Roboto',sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 14px;
          color: rgba(255, 255, 255, 0.75);
        }
      }
      &>li:not(:last-child){
        margin-bottom: 15px;
      }
    }
  }
}

footer{
  min-height: 275px;
  background-color: #444240;
}