@import "./_var.scss";
header {
  min-height: 85px;
  background: #FDFDFB;
}
.header {

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 85px;
    @media only screen and (min-width: 0px) and (max-width: $mediumWidth){
      &{
        flex-direction: column;
        margin: 20px 0 0 0;
      }
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    @media only screen and (min-width: 0px) and (max-width: $mediumWidth){
      &{
        margin: 20px 0 0 0;
      }
    }
    & > p {
      margin-left: 5px;
      font-family: 'Playfair Display', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.14em;
      color: #555248
    }
  }

  &__nav {
    @media only screen and (min-width: 0px) and (max-width: $mediumWidth){
      &{
        margin: 20px 0 20px 0;
      }
    }
    & > ul {
      display: flex;
      flex-wrap: wrap;
      @media only screen and (min-width: 0px) and (max-width: 470px){
        &{
          flex-direction: column;
        }
      }
      & > li {
        list-style-type: none;

        & > a {
          text-decoration: none;
          font-family: 'Roboto', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          color: #555248;
        }
      }

      & > li:not(:last-child) {
        margin-right: 65px;
        @media only screen and (min-width: 0px) and (max-width: 470px){
          &{
            margin: 0 0 10px 0;
          }
        }
      }
    }
  }

  &__btns {
    display: flex;

    & > div:not(:last-child) {
      margin-right: 23px;
    }

    & > div:hover {
      cursor: pointer;
    }
  }
  &__liked{
    position: relative;
    &:after{
      bottom: 13px;
      left: 14px;
      position: absolute;
      content: '1';
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: #E6C8B4;
      text-align: center;

      display: flex;
      justify-content: center;
      align-items: center;


      font-family: 'Roboto',sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 8px;
      line-height: 9px;
      color: #1B1A17;
    }
  }
}
