.news{
  padding: 80px 0 90px 0;
  &__text{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  &__main{
   display: flex;
    justify-content: space-between;
  }
  &__description{
    font-family: 'Roboto',serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #444240;
    margin-top: 40px;
    margin-bottom: 120px;
  }
  &__links{
    & > ul{
      padding: 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      & > li {
        list-style-type: none;
      }
      & > li:not(:last-child) {
        margin-right: 18px;
      }
    }
  }
}


.news__photos {
  display: grid;
  grid-template-columns: 242px 1fr;
  grid-column-gap: 10px;
  max-height: 630px;
  &_small{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
  }
  &_big{
    display: grid;
    grid-template-columns: 1fr;
  }
}
