@import "./_var.scss";
.popularModels {
  padding: 76px 0 86px;

  &__title {
    display: flex;
    justify-content: center;
  }

  &__btn {
    display: flex;
    justify-content: flex-end;

    & > button {
      display: flex;
      align-items: self-start;
      min-width: 12px;
      min-height: 26px;
      background: none;
      border: none;
      border-bottom: 1px solid #C4C0B6;;
      font-family: 'Roboto', serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #444240;
      margin-bottom: 26px;

      &:hover {
        cursor: pointer;
        color:gray;
      }
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 54px;
    grid-row-gap: 1em;
    @media only screen and (min-width: $smallWidth) and (max-width: $largeWidth){
      &{
        grid-template-columns: 1fr 1fr;
      }
    }
    @media only screen and (min-width: 0px) and (max-width: $smallWidth){
      &{
        grid-template-columns: 1fr;
      }
    }
  }

  &__item {
    box-sizing: border-box;
    max-width: 370px;
    max-height: 467px;
    padding: 40px 28px 40px 28px;
    background: #FDFDFB;
    @media only screen and (min-width: 0px) and (max-width: $smallWidth){
      &{
        justify-self: center;
      }
    }

    &__btn {
      & > button:hover {
        cursor: pointer;
        color: gray;
      }
    }

    &__title {
      margin-bottom: 5px;

      & > p {
        font-family: 'Playfair Display', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: rgba(27, 26, 23, 0.82);
      }
    }

    &__price {
      margin-bottom: 2px;

      & > p {
        font-family: 'Prata', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: rgba(27, 26, 23, 0.82);
      }
    }

    &__img {
      background-image: url("img/popularModels/Ellipse.png");
      background-repeat: no-repeat;
      background-size: cover;
      & > img {
        max-height: 100%;
        max-width: 100%;
      }
    }

    &__btn {
      font-family: 'Playfair Display', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 21px;
      color: #1B1A17;
      margin-top: 8px;

      & > button {
        background: none;
        border: none;
        display: flex;
        align-items: center;

        &:before {
          content: '';
          width: 30px;
          border: 1px solid #8B8371;
          margin-right: 18px;
        }
      }
    }
  }
}